# =========================================================================
# Database Configuration (PostgreSQL)
# =========================================================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# =========================================================================
# Backend Application Configuration (FastAPI)
# =========================================================================
SESSION_SECRET=
API_KEY=

# =========================================================================
# Integration Tokens (API Keys)
# =========================================================================
GROQ_API_KEY=
UPLOADTHING_TOKEN=
CORS_ORIGINS=
